.App {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    padding: o;
    text-align: center;
    background-color: #b9c2ca;
    border: 1px solid;
   
   

}
.loginform{
  color: aliceblue;
}
h1{
  font-size: 20px
}
button {
    color: #f0f8fb;
    border: 1px solid;
    background-color: #b9c2ca;
    margin-left: 10px;
    margin-top: 19px;
}
.body {

    width: 50%;
    /* height: 100%; */
    margin-left: 312px;
    margin-top: 130px;
    margin-bottom: 39px;
    padding-bottom: 23px;
  

}
form {
      margin-top: -120px;
 
}
ul {
  color: azure;
  list-style-type: none;
      text-align: center;
    padding-bottom: 12px;
 
}
ul li {
  border: 1px solid;
  width: 571px;
  padding-bottom: 10px;
}
.list{
 background-color: #5a6773; 
}
.dashboardlist{
    border: 1px solid;
    list-style-type: none;
    width: 608px;
    margin-top: -49px;
    border-radius: 11px;
}   

ol {
  list-style-type: none;
}
.search{
  
}