.App {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 3.5;
    padding: o;
    text-align: center;
   
   

}
.loginform{
  color: aliceblue;
  margin-top: 160px;
}
h1{
  font-size: 20px;
  margin-bottom: -25px;
}
button {
    color: #f0f8fb;
    border: 1px solid;
    background-color: #b9c2ca;
    margin-left: 10px;
    margin-top: 19px;
}
body {

    width: 100%;
    background-color: lightblue;
   
  

}
form {
      margin-top: -120px;
 
}
ul {
     color: azure;
    list-style-type: none;
    padding-bottom: 12px;
    margin: 21px 46px 15px 22px;
 
}
ul li {
  border: 1px solid;

  padding-bottom: 10px;
}
.list{
 background-color: #5a6773; 
}
.dashboardlist{
    border: 1px solid;
    list-style-type: none;
    width: 608px;
    margin-top: -49px;
    border-radius: 11px;
}   

ol {
  list-style-type: none;
}
.search{
  
}
.comment-firstpageload{
  position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #33334a;
    height: 41px;
    width: 200px;
    border: 1px solid;
}
.comment-block{
   height: 411px;
    background-color:#33334a;
    margin-top: -236px;
    width: 201px;
    position: fixed;
    right: 0px;
}
.commentText ul li{
    line-height: 15px;
    font-size: 10px;
    text-align: left;
    margin-left: -46px;
    border: 1px;
}   
a{
      text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 11px;
    padding: 5px;
}

