.App {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    padding: o;
    text-align: center;
    background-color: #b9c2ca;
    border: 1px solid;
    height: 676px;

}